-i https://pypi.org/simple
certifi==2025.1.31; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
exceptiongroup==1.2.2; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
iniconfig==2.0.0; python_version >= '3.7'
packaging==24.2; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
pytest==8.3.4; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
tomli==2.2.1; python_version >= '3.8'
urllib3==2.3.0; python_version >= '3.9'

sortedcontainers~=2.4.0
pytest~=8.3.4